version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: vitanova-ecom
    container_name: vitanova-ecom
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
